@model UsuarioViewModel
@using Humanizer

@{
    ViewData["Title"] = "Usuarios Cadastrados";
}

<div id="listaUsuario" data-url="@Url.Action("Index")" class="panel panel-default todo-panel">
    <div class="panel-heading">
        @ViewData["Title"]
    </div>
    <table class="table	table-hover">
        <thead>
            <tr>
                @*<td>&#x2714;</td>*@
                <td>Id</td>
                <td>Nome</td>
                <td>Sobrenome</td>
                <td>Dia Cadastrado</td>
            </tr>
        </thead>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nome</td>
            <td>@item.Sobrenome</td>
            <td>@item.DiaCadastro.Humanize()</td>

        </tr>
        }
    </table>
    @{
        await Html.RenderPartialAsync("PartialViewNovoUsuario", new UsuarioModel());
    }
</div>

